<%- include('./partials/header')%>

<nav class="navbar navbar-expand-lg navbar-dark landingNav">
    <div class="container-fluid">
      <button class="navbar-toggler custom-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/products">Home</a>
          </li>
          <li class="nav-item">
            <a href="#">About Us</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
    <div class="container-fluid landingBlock">
        <div class="row">
            <div class="col col-lg-6 col-sm-12">
                <img src="/images/Discount-rafiki.png" class="landingImg" alt="sale image">
            </div>
            <div class="col col-lg-6 col-sm-12 landingTextBlock">
                <h1>NEW ARRIVALS</h1>
                <a href="/products" class="btn btn-secondary btn-lg mt-5">SHOP NOW</a>
            </div>

        </div>
    </div>
<%- include('./partials/footer')%>