<%- include('../partials/header')%>

<div class="text-center">
    <h1>You are trying to go somewhere, where no one should.</h1>
    <img class ="img-fluid w-75" src="https://images.unsplash.com/photo-1610311213453-e1a8e0ca6e18?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d3Jvbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Wong Way Image">
    <br><br>
    <a href="/products" class="btn btn-success mb-3"> Go Back</a>
</div>

<%- include('../partials/footer')%>